
@{
    ViewBag.Title = "Owner Master Report";
}

@using (Html.BeginForm("OwnerMasterPdf", "Report", FormMethod.Get))
{
    <div class="form-group">
        <label for="query"> Name / IC </label>
        <input type="text" class="form-control" name="query" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}


