@{
    ViewBag.Title = "ZoneMaster";
}

@using (Html.BeginForm("ZoneMasterPdf", "Report", FormMethod.Get))
{
    <div class="form-group">
        <label for="licenseCode"> Zone List </label>
        @Html.DropDownList("ZoneList", null, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}