@using AutoMapper;
@{
    ViewBag.Title = "ZoneMaster";
}

<h2>ZoneMaster</h2>
    <div class="col-lg-6">
        @Html.DropDownList("ZONE", new SelectList(Model.zoneCombineList, "id", "text"), "Pilih Jenis Zon", new { @class = "form-control" })
    </div>