
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="header">
        <h4 id="headerTitle">Access Denied</h4>
    </div>
    <div class="body">
        <h2 class="error">You don't have access to view this page. Please contact administrator if you have any query</h2>
    </div>
</div>
