@model TradingLicense.Model.TutorialModel
@{
    ViewBag.Title = "Manage Check Box";
}

<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4 id="headerTitle">Check Box</h4>
    </div>
    <div class="body">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmTutorial", id = "frmTutorial" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.TUTORIAL_ID)

            
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.ACTIVE)
                                <span>Sila tick di sini</span><span class="pointer"><img src="~/images/checkmark.svg" alt="Checkmark" /></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Simpan" />
                        <input type="button" class="btn btn-default" value="Kembali" onclick="back()" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts
{
    <script>    

    function back() {
         var link = '@Url.Action("TestDatatable", "Tutorial")';
        window.location.href = link;
    }
    </script>
}
