<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4>Attachments</h4>
    </div>
    <div class="grid" id="divtblAttachment">
        <table cellspacing="0" class="table table-striped" id="tblAttachment"></table>
    </div>
</div>
