
<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4>Payments Due</h4>
    </div>
    <div class="grid" id="divPaymentDueTable">
        <table cellspacing="0" class="table table-striped" id="tblPaymentDue"></table>
    </div>
</div>
<div class="card">
    <div class="header">
        <h4>Payments Received</h4>
    </div>
    <div class="grid" id="divPaymentReceivedTable">
        <table cellspacing="0" class="table table-striped" id="tblPaymentReceived"></table>
    </div>
</div>