<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4>Companies</h4>
    </div>
    <div class="grid" id="divtblCompany">
        <table cellspacing="0" class="table table-striped" id="tblCompany"></table>
    </div>
</div>
<div class="card">
    <div class="header">
        <h4>Banner Applications</h4>
    </div>
    <div class="grid" id="divBannerApplicationTable">
        <table cellspacing="0" class="table table-striped" id="tblBannerApplication"></table>
    </div>
</div>
<div class="card">
    <div class="header">
        <h4>Premise Applications</h4>
    </div>
    <div class="grid" id="divPremiseApplicationTable">
        <table cellspacing="0" class="table table-striped" id="tblPremiseApplication"></table>
    </div>
</div>