<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="PremiseApplicationModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.PremiseApplicationModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BusinessTypeModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.BusinessTypeModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="AdditionalDocModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.AdditionalDocModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="HawkerTypeModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.HawkerTypeModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PageRoleAccessModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.PageRoleAccessModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="StallCodeModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.StallCodeModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ZoneModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.ZoneModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LocationModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.LocationModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="RoadModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.RoadModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model12" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BannerApplicationModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.BannerApplicationModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BannerObjectModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.BannerObjectModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BAReqDocModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.BAReqDocModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="EntmtGroupModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.EntmtGroupModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model13" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="EntmtCodeModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.EntmtCodeModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="EntmtApplicationModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.EntmtApplicationModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="StallApplicationModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.StallApplicationModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="SAReqDocModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.SAReqDocModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="HawkerApplicationModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.HawkerApplicationModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="HAReqDocModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.HAReqDocModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PaymentReceivedModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.PaymentReceivedModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PaymentDueModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TradingLicense.Model.PaymentDueModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>